{
    acme_dns cloudflare {env.CF_DNS_API_TOKEN}
}
immich.optimistic.cloud {
    reverse_proxy server:30041
}
garage.optimistic.cloud {
    reverse_proxy garage-webui:3909
}

s3.optimistic.cloud {
	reverse_proxy garage:3900 {
        health_uri       /health
        health_port      3903
        #health_interval 15s
        #health_timeout  5s
    }
}

admin.s3.optimistic.cloud {
	reverse_proxy garage:3903 {
        health_uri       /health
        health_port      3903
        #health_interval 15s
        #health_timeout  5s
    }
}