# Vaultwarden
DOMAIN=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURITY=

VAULTWARDEN_ADMIN_TOKEN=

## https://github.com/dani-garcia/vaultwarden/wiki/SMTP-Configuration
VAULTWARDEN_SMTP_USERNAME=
VAULTWARDEN_SMTP_PASSWORD=
VAULTWARDEN_SMTP_FROM=

## https://github.com/dani-garcia/vaultwarden/wiki/Enabling-SSO-support-using-OpenId-Connect
VAULTWARDEN_SSO_ENABLED=
VAULTWARDEN_SSO_ONLY=
VAULTWARDEN_SSO_AUTHORITY=
VAULTWARDEN_SSO_CLIENT_ID=
VAULTWARDEN_SSO_CLIENT_SECRET=

# Backup
HC_API=
HC_PING_KEY=

EXPORT_DATA=
RESTORE_DATA=