{
    acme_dns cloudflare {env.CF_DNS_API_TOKEN}
}
immich.optimistic.cloud {
    reverse_proxy server:30041
}
garage.optimistic.cloud {
    reverse_proxy garage-webui:3909
}
*.api.s3.optimistic.cloud {
    reverse_proxy garage:3900 {
        header_up Host {host}
    }
}
*.web.s3.optimistic.cloud {
    reverse_proxy garage:3902 {
        header_up Host {host}
    }
}