x-healthcheck: &default-healthcheck
  interval: 180s
  timeout: 30s
  retries: 5
  start_period: 60s

services:

  # Deployment notes
  # SSO auth https://github.com/iv-org/invidious/pull/3164
  invidious:
    image: quay.io/invidious/invidious:latest@sha256:2836b5b8226a53a9cc2afdbd5f5fe6bccdd200f2e17cd92a828b4dc8d8b5cc06
    container_name: invidious
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      TZ: Europe/Berlin
      # Please read the following file for a comprehensive list of all available
      # configuration options and their associated syntax:
      # https://github.com/iv-org/invidious/blob/master/config/config.example.yml
      INVIDIOUS_CONFIG_FILE: /config/invidious/config.yml
    volumes:
      - ./config.yml:/config/invidious/config.yml
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/trending || exit 1
      <<: *default-healthcheck
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    depends_on:
      - invidious-db
    networks:
      - invidious
      - caddy

  companion:
    image: quay.io/invidious/invidious-companion:latest@sha256:4f589b8eedf3c2d49de4a256ee018d7e4ff54fcce683f9005a31dbb7d1bf870f
    container_name: invidious-companion
    environment:
      TZ: Europe/Berlin
    # Use the key generated in the 2nd step
      SERVER_SECRET_KEY: ${INVIDIOUS_SERVER_SECRET_KEY}
    restart: unless-stopped
    # Uncomment only if you have configured "public_url" for Invidious companion
    # Or if you want to use Invidious companion as an API in your program.
    # Remove "127.0.0.1:" if used from an external IP
    #ports:
    #  - "127.0.0.1:8282:8282"
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    cap_drop:
      - ALL
    read_only: true
    # cache for youtube library
    volumes:
      - companioncache:/var/tmp/youtubei.js:rw
    security_opt:
      - no-new-privileges:true
    networks:
      - invidious

  invidious-db:
    image: docker.io/library/postgres:14@sha256:962ffbe9f6418387643411b127c1db27465e5a23b9a8849bfaf45fa6323963ce
    container_name: invidious-db
    restart: unless-stopped
    volumes:
      - postgresdata:/var/lib/postgresql/data
      - ./sql:/config/sql
      - ./init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      TZ: Europe/Berlin
      POSTGRES_DB: ${INVIDIOUS_POSTGRES_DB}
      POSTGRES_USER: ${INVIDIOUS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${INVIDIOUS_POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      <<: *default-healthcheck
    networks:
      - invidious

networks:
  caddy:
    external: true
  invidious:
    name: invidious

volumes:
  postgresdata:
  companioncache:
