[Unit]
Description=Weekly backup for Gitea

[Service]
Type=oneshot
WorkingDirectory=%h/home-ops/stacks/m700
ExecStart=/usr/local/bin/just backup-all gitea