[Unit]
Description=Davis backup (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/home-ops/stacks/m700/davis
ExecStart=/usr/local/bin/just workflow-backup %i
