[Unit]
Description=Daily Gitea backup -> external

[Timer]
OnCalendar=Fri 22:10:00
Persistent=true
Unit=gitea-backup@ionos.service

[Install]
WantedBy=timers.target