[Unit]
Description=Daily Gitea backup -> local

[Timer]
OnCalendar=OnCalendar=Fri 12:10:00
Persistent=true
Unit=gitea-backup@local.service

[Install]
WantedBy=timers.target