[Unit]
Description=Gitea backup (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=%h/home-ops/stacks/m700
ExecStart=/usr/local/bin/just backup gitea %i