[Unit]
Description=Daily Pocket ID backup -> external

[Timer]
OnCalendar=OnCalendar=Fri 22:14:00
Persistent=true
Unit=pocket-id-backup@ionos.service

[Install]
WantedBy=timers.target