[Unit]
Description=Daily Pocket ID backup -> local

[Timer]
OnCalendar=OnCalendar=Fri 12:14:00
Persistent=true
Unit=pocket-id-backup@local.service

[Install]
WantedBy=timers.target