[Unit]
Description=Daily Vaultwarden backup -> local

[Timer]
OnCalendar=*-*-* 12:16:00
Persistent=true
Unit=vaultwarden-backup@local.service

[Install]
WantedBy=timers.target