[Unit]
Description=Daily Vaultwarden backup -> offsite

[Timer]
OnCalendar=*-*-* 20:16:00
Persistent=true
Unit=vaultwarden-backup@offsite.service

[Install]
WantedBy=timers.target