[Unit]
Description=Weekly Vaultwarden backup -> onsite (Fri 20:10)

[Timer]
OnCalendar=16 20 * * *
Persistent=true
Unit=vaultwarden-backup@onsite.service

[Install]
WantedBy=timers.target