[Unit]
Description=Weekly Vaultwarden backup -> onsite (Fri 20:10)

[Timer]
OnCalendar=Fri 22:16:00
Persistent=true
Unit=vaultwarden-backup@onsite.service

[Install]
WantedBy=timers.target