[Unit]
Description=Daily Vaultwarden backup -> local

[Timer]
OnCalendar=16 12 * * *
Persistent=true
Unit=vaultwarden-backup@local.service

[Install]
WantedBy=timers.target