[Unit]
Description=Daily Wallos backup -> external

[Timer]
OnCalendar=OnCalendar=Fri 22:18:00
Persistent=true
Unit=wallos-backup@external.service

[Install]
WantedBy=timers.target