[Unit]
Description=Weekly backup for Traefik

[Service]
Type=oneshot
WorkingDirectory=/home/max/home-ops/stacks/m700/conf.d/backup
ExecStart=/usr/bin/just backup-all traefik
