[Unit]
Description=Weekly backup for Gitea

[Service]
Type=oneshot
WorkingDirectory=/home/max/home-ops/stacks/m700
ExecStart=/usr/local/bin/just backup-all gitea
