{
    acme_dns cloudflare {env.CF_DNS_API_TOKEN}
}
vaultwarden.optimistic.cloud {
    reverse_proxy vaultwarden:80
}
dozzle.optimistic.cloud {
    reverse_proxy dozzle:8080
}
beszel.optimistic.cloud {
    reverse_proxy beszel:8090
}
gist.optimistic.cloud {
    reverse_proxy opengist:6157
}
git.optimistic.cloud {
    reverse_proxy gitea:3000
}
id.optimistic.cloud {
    reverse_proxy pocket-id:1411
}
invidious.optimistic.cloud {
    reverse_proxy invidious:3000
}
wallos.optimistic.cloud {
    reverse_proxy wallos:80
}
hc.optimistic.cloud {
    reverse_proxy healthchecks:8000
}
jellyfin.optimistic.cloud {
    reverse_proxy jellyfin:8096
}
outline.optimistic.cloud {
    reverse_proxy outline:3001
}
journiv.optimistic.cloud {
    reverse_proxy journiv-app:8000
}