# Crontab format:
#   https://github.com/aptible/supercronic#crontab-format
# ┌────────────── Second
# │ ┌──────────── Minute
# │ │ ┌────────── Hour
# │ │ │ ┌──────── Day of month
# │ │ │ │ ┌────── Month
# │ │ │ │ │ ┌──── Day of week
# │ │ │ │ │ │ ┌── Year
# │ │ │ │ │ │ │ ┌ Command
# ┴ ┴ ┴ ┴ ┴ ┴ ┴ ┴
# * * * * * * * printf '%s\n' 'Hello world!'
0 0 * * *  just --dotenv-filename ionos.env backup
5 0 * * *  just --dotenv-filename hetzner.env backup

@daily backup.sh vaultwarden
@daily backup.sh opengist
@daily backup.sh gitea
@weekly backup.sh pocket-id
@weekly backup.sh traefik
