# Crontab format:
#   https://github.com/aptible/supercronic#crontab-format
# ┌────────────── Second
# │ ┌──────────── Minute
# │ │ ┌────────── Hour
# │ │ │ ┌──────── Day of month
# │ │ │ │ ┌────── Month
# │ │ │ │ │ ┌──── Day of week
# │ │ │ │ │ │ ┌── Year
# │ │ │ │ │ │ │ ┌ Command
# ┴ ┴ ┴ ┴ ┴ ┴ ┴ ┴
# * * * * * * * printf '%s\n' 'Hello world!'
0 11,17,23 * * * cd /opt/conf.d/backup/ && sh backup.sh vaultwarden
2 23 * * *       cd /opt/conf.d/backup/ && sh backup.sh opengist
4 23 * * *       cd /opt/conf.d/backup/ && sh backup.sh gitea