# Crontab format:
#   https://github.com/aptible/supercronic#crontab-format
# ┌────────────── Second
# │ ┌──────────── Minute
# │ │ ┌────────── Hour
# │ │ │ ┌──────── Day of month
# │ │ │ │ ┌────── Month
# │ │ │ │ │ ┌──── Day of week
# │ │ │ │ │ │ ┌── Year
# │ │ │ │ │ │ │ ┌ Command
# ┴ ┴ ┴ ┴ ┴ ┴ ┴ ┴
# * * * * * * * printf '%s\n' 'Hello world!'
@daily cd /opt/conf.d/backup/scripts/ && sh backup.sh vaultwarden
@daily cd /opt/conf.d/backup/scripts/ && sh backup.sh opengist
@daily cd /opt/conf.d/backup/scripts/ && sh backup.sh gitea
@weekly cd /opt/conf.d/backup/scripts/ && sh backup.sh pocket-id
@weekly cd /opt/conf.d/backup/scripts/ && sh backup.sh traefik
