ADMIN_LOGIN=
ADMIN_PASSWORD=

# Authentication for the users in davis. Like connection to calendar or addressbook!
AUTH_REALM=SabreDAV
AUTH_METHOD= # can be "Basic", "IMAP" or "LDAP"

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
INVITE_FROM_ADDRESS=no-reply@example.org

LDAP_AUTH_URL=
LDAP_DN_PATTERN="uid=%u,ou=people,dc=example,dc=com"
LDAP_MAIL_ATTRIBUTE="mail"                               
LDAP_AUTH_USER_AUTOCREATE=true                           
LDAP_CERTIFICATE_CHECKING_STRATEGY=try # try by default. Other values are: never, hard, demand or allow

# runtime & backup
DOCKER_CONTAINER_NAME=davis
DOCKER_VOLUME_NAME=davis-data

DATABASE_NAME=davis-database.db

BACKUP_EXPORT_DATA_DIR=./backup-export-data
BACKUP_RESTORE_DATA_DIR=./backup-restore-data

HC_API=
HC_PING_KEY=
HC_CHECK_NAME=davis