name: matrix

x-healthcheck: &default-healthcheck
  interval: 180s
  timeout: 30s
  retries: 5
  start_period: 60s

services:
  # matrix-postgres:
  #   image: postgres:17-alpine
  #   container_name: matrix-postgres
  #   restart: unless-stopped
  #   expose:
  #     - "5432"
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   volumes:
  #     - matrix-postgres-data:/var/lib/postgresql/data
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
  #     <<: *default-healthcheck

  synapse:
    image: matrixdotorg/synapse:latest@sha256:3a18f811c6269f0e814e38496e90869cf7aeb05fc4301526cdd31608fef63616
    container_name: synapse
    restart: unless-stopped
    # depends_on:
      # matrix-post\g\res:
        # condition: service_healthy
    expose:
      - "8008"
    volumes:
      - synapse-data:/data
    environment:
      TZ: Europe/Berlin
      SYNAPSE_SERVER_NAME: ${SYNAPSE_SERVER_NAME}
      SYNAPSE_REPORT_STATS: ${SYNAPSE_REPORT_STATS:-no}
      SYNAPSE_NO_TLS: "true"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8008/_matrix/client/versions"]
      <<: *default-healthcheck
    networks:
      - m700_default

  element:
    image: vectorim/element-web:latest@sha256:dd6696825002350e3fc7f6110ab9b4ebdf32b5c489fb195b74cff4cb1b87220a
    container_name: element
    volumes:
      - ./element-config.json:/app/config.json:ro
    restart: unless-stopped
    networks:
      - m700_default
  fluffychat:
    image: aceberg/fluffychat:latest@sha256:427ed5c2c85627d3f764ec89681a22c698f3dc6d5f342dd4b27ed818a6326e58
    container_name: fluffychat
    volumes:
      - ./fluffychat-config.json:/usr/share/nginx/html/config.json:ro
    restart: unless-stopped
    networks:
      - m700_default
volumes:
  synapse-data:

networks:
  m700_default:
    external: true