x-healthcheck: &default-healthcheck
  interval: 180s
  timeout: 30s
  retries: 5
  start_period: 60s

services:
  matrix-postgres:
    image: postgres:17-alpine
    container_name: matrix-postgres
    restart: unless-stopped
    expose:
      - "5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - matrix-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      <<: *default-healthcheck

  matrix-synapse:
    image: matrixdotorg/synapse:latest
    container_name: matrix-synapse
    restart: unless-stopped
    depends_on:
      matrix-postgres:
        condition: service_healthy
    expose:
      - "8008"
    volumes:
      - matrix-synapse-data:/data
    environment:
      TZ: Europe/Berlin
      SYNAPSE_SERVER_NAME: ${SYNAPSE_SERVER_NAME}
      SYNAPSE_REPORT_STATS: ${SYNAPSE_REPORT_STATS:-no}
      SYNAPSE_NO_TLS: "true"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8008/_matrix/client/versions"]
      <<: *default-healthcheck

volumes:
  matrix-postgres-data:
  matrix-synapse-data:
