[Unit]
Description=Daily backup for Vaultwarden

[Service]
Type=oneshot
WorkingDirectory=$HOME/home-ops/stacks/m700
ExecStart=/usr/local/bin/just backup-all vaultwarden